Code/Cache/Cache_Data
Code/CachedConfigurations/defaults/configurationDefaultsOverrides
Code/CachedData/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9
Code/CachedExtensionVSIXs
Code
dconf
enchant
evolution/sources
google-chrome
gtk-3.0
ibus/bus
libreoffice/4/user
nextjs-nodejs
pulse
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
gnome-initial-setup-done
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
